.container{
  max-width: 100%;
  margin: 0 auto;
  /* background: black; */
  font-size: 24px;
  padding: 0px;
}

.banner{
  background: url(../images/title.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

/* Nav Styles Begin */
.navbar {
  padding: 0px;
  background: black;
  /* opacity: 80%; */
}

#navItems {
  padding: 10px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
  padding: 0px;
  margin-right: 10px;
  margin-left: 15px;
}

.link-border {
  border-right-style: solid;
  border-right-color: #777777;
  border-width: 0px 2px 0px 0px;
  padding-right: 15px;
  margin-right: 5px;
} 

a:hover {
  text-decoration: none;
  color: #777777
}
/* Nav Styles End */

#profilePic {
  position: relative;
  top: 10px;
  left: 50px;
  border-radius: 50%;
}



h2 {
  /* background-color: #4aaaa5; */
  color: #cccccc;
  padding: 10px 20px;
  margin: 0px;
}

.name {
  position: relative;
  left: 60px;
}

.logo {
  width: 119px;
  height: 170px;
}
.logoSq {
  width: 150px;
  height: 150px;
}

/* .portImg {
  height: 320px;
  width: 320px;
} */

.content {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding: 20px;
  margin-bottom: 70px;
}

/* Footer Styles Begin */
.footbar {
  width: 100%;
  height: 40px;
  background-color: black;
  border-top-style: solid;
  border-top-color: #777777;
  border-top-width: 5px; 
  margin-top: 40px;
  position: fixed;
  bottom: 0px;
}

.copyright {
  text-align: center;
  position: relative;
  bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.copy {
  color: #ffffff;
  font-size: 12px;
  margin: 20px;
}
/* Footer Styles End */

.space {
  background: no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  /* background-image: linear-gradient(black, #ffffff); */
  background-image: linear-gradient(#ffffff, black);
  /* background-color: black; */
}

@media (max-width: 640px) { 
  h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
  }

  .name {
    position: static;
  }

  .nav {
      margin: auto;
  }

  #navItems {
      padding-bottom: 10px;
  }

  #profilePic {
    position: relative center;
  }

}
