/* font-family: 'Arimo', sans-serif; */
/* font-family: 'Kanit', sans-serif; */

.container{
  max-width: 100%;
  margin: 0 auto;
  /* background: black; */
  font-size: 24px;
  padding: 0px;
}

.banner{
  background: url(../images/title.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

/* Nav Styles Begin */
.navbar {
  padding: 0px;
  background: black;
  /* opacity: 80%; */
}

#navItems {
  padding: 10px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
  padding: 0px;
  margin-right: 10px;
  margin-left: 15px;
}

.link-border {
  border-right-style: solid;
  border-right-color: #777777;
  border-width: 0px 2px 0px 0px;
  padding-right: 15px;
  margin-right: 5px;
} 

a:hover {
  text-decoration: none;
  color: #777777
}
/* Nav Styles End */

#profilePic {
  border-radius: 50%;
}

.intro {
  font-family: 'Nanum Gothic', sans-serif;
  color: #ffffff;
  font-size: 68px;
  position: relative;
  top: 150px;
}

.headers {
  font-family: 'Arimo', sans-serif;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #cccccc;
  padding: 10px 20px;
  margin: 0px;
}

h2:hover {
  color: #777777;
}

h3 {
  font-family: 'Kanit', sans-serif;
}

.blurb {
  font-family: 'Kanit', sans-serif;
}

.logo {
  width: 79px;
  height: 113px;
}
.logoSq {
  width: 100px;
  height: 100px;
}

i.connect {
  font-size: 50px;
  padding-bottom: 100px;
  color: #404040
}

i.down {
  font-size: 50px;
  color: #404040
}

i:hover {
  text-decoration: none;
  color: #777777
}

.btn {
  /* background-color: black; */
  height: 25px;
  font-size: 12px;
  padding: 5px;
}

.end {
  font-size: 18px;
}

/* Footer Styles Begin */
.footbar {
  width: 100%;
  height: 40px;
  background-color: black;
  border-top-style: solid;
  border-top-color: #777777;
  border-top-width: 5px; 
  margin-top: 40px;
  position: fixed;
  bottom: 0px;
}

.copyright {
  text-align: center;
  position: relative;
  bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.copy {
  color: #ffffff;
  font-size: 12px;
  margin: 20px;
}
/* Footer Styles End */

.space {
  background: no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
  /* background-image: linear-gradient(black, #ffffff); */
  background-image: linear-gradient(#ffffff, black);
  /* background-color: black; */
}


/* Card flip playground */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	/* width: 320px;
  height: 480px; */
  width: 200px;
	height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-image: linear-gradient(#ffffff, black);
  /* background-color: #87B3ED; */
  font-size: 14px;
  text-align: center;
}

@media (max-width: 752px) {
  .intro {
    /* position: relative; */
    top: 75px;
    text-align: center;
  }
}

@media (max-width: 640px) { 
  h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
  }

  .intro {
    top: 60px;
    font-size: 60px;
  }

  .nav {
      margin: auto;
  }

  #navItems {
      padding-bottom: 10px;
  }

  #profilePic {
    position: relative center;
  }

}
